Src_code/ISIssues/IsIssues/src/xsd/ISExtendedSettings.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ExtendedSettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Settings" type="Override" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateSettings" type="Override" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteSettings" type="Override" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Override">
		<xs:list itemType="xs:string" />
	</xs:simpleType>
	
</xs:schema>
